@charset "utf-8";
/*CSS reset*/
html{color:#000;background:#FFF;}
body{font-family:Arial;word-wrap:break-word;}
body,div,dl,dt,dd,ul,ol,li{margin:0;padding:0;}
.xui-clearListStyle{
    list-style:none;
}
.rawHtml ol {
	margin: 0 0 10px 25px;
}
.rawHtml ul {
	margin: 0 0 10px 25px;
}
button,a{outline: none!important;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
textarea{resize:none}

/* 其他 */
.xui-bold {font-weight: bold;}
.xui-invisible {visibility: hidden;}
.noborder{border: none;}
.zoom{overflow:auto; zoom:1;}
.disT{display: table;}
.disTc{display: table-cell;}
.xui-block {display: block;}
.xui-inlineblock {display: inline-block;}
.xui-inline {display: inline;}
.xui-aligntop {vertical-align: top !important;}
.xui-alignsub {vertical-align: sub !important;}
.xui-aligntexttop {vertical-align: text-top !important;}
.xui-hide {display: none;}


.text_nowrap{
	overflow: hidden; /* 超出的部分隐藏起来 */
	white-space: nowrap;/* 不显示的地方用省略号...代替 */
	text-overflow: ellipsis;/* 支持 IE */
	-o-text-overflow: ellipsis;/* 支持 Opera */
}
.list_text_nowrap{
	float: left;
	height:20px;
	overflow: hidden;
}
.auto_wrap{
	word-break:break-all;
	overflow: auto;
}
.auto_wrap_no_flow{
	word-break:break-all;
}
.xui-mandatory:before {
	font-size: 1.4em;
	content: "*";
	color: #FF0000;
	vertical-align: middle;
	position: relative;
	top: 3px;
	right: 5px;
}
.readonly{
	cursor: default;
}
.select_text{
	cursor: auto;
}
.cursor-pointer {
	cursor: pointer;
}
.cursor-text {
	cursor: text !important;
}
.xui-contenteditable:hover {
	background-color: #FCFFD5 !important;
	background-repeat: no-repeat;
}
.xui-contenteditable:focus {
	background-color: #FCFFD5 !important;
	border: solid 1px blue;
	background-repeat: no-repeat;
}
.xui-contenteditable.xui-dirtyContent {
	background-image: url("/static/img/editor/dirty.gif") !important;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.xui-tableRowSelector {
	width: 20px;
}
.xui-color-mark{
	color: #999999;
}
.xui-color-white{
	color: #fff;
}
.c65{
	color: #656565;
}
/* 字体加粗*/
.xui-fontBold{
	font-weight: bold;
}
.xui-colorRed{
	color: red;
}
.xui-colorBlue{
	color:#1262b7!important;
}
.cRed{
	color: #CF0404;
}
.c65{
	color: #656565;
}
/*字体灰色显示*/
.xui-fontGary{
	color: #666;
}
.c9{
	color: #999;
}
/*列表头部*/
.xui-thead{
	background:#c8d2e5;
}
select{
	height: 24px;
}

/*右边面板背景颜色*/
.xui-rightPanelBg{
	background: #eaeef6;
}
.xui-rightPanelTitle{
	display: block;
	line-height:30px;
	width:100;
	background-color:#bee0ff;
	padding:0 15px;
	font-weight:bold;
}
/*列表区域最小高度*/
/*.xui-tableList-content{
	min-height: 848px;
}*/
.modal .xui-tableList-content {
	min-height: 300px;
}

/*
*订单、商品列表淡青色表头
*/
.xui-tableHead thead th{
	background-color: #c8d2e5;
    color: #333;
    font-weight: bold;
    height: 38px;
    line-height: 38px !important;
    padding: 0 !important;
    border:none!important;
}
/*
*列表内的商品缩略图
*/
.xui-product-thumbnails{
	width: 56px;
	height: 56px;
	border:1px solid #cfcfcf;
}

/*
*slidebar
*/
.xui-mainPanel{
	width: 1200px;
	margin: 0px auto;
	min-height: 830px;
	/*padding-top:101px;*/

}
.xui-mainPanel .xui-container{
	background:#fff;
    min-height: 866px;
    width:auto;
    padding-right:0;
}
.xui-mainPanel .xui-container .xui-content{
	margin-left:205px;
}
.xui-mainPanel .xui-sideBarBg{
    /*padding-left: 205px;*/
   background: #eee;
}
.xui-mainPanel .xui-icon-sideBar{
	display: inline-block;
	width: 48px;
	height: 20px;
	background-image: url('/static/img/editor/icon_sideBar.png');
	display: inline-block;
	position: absolute;
	left:0px;
}
.xui-mainPanel .xui-sideBar{
	font-family: "Microsoft YaHei",Arial;
    font-size: 14px;
    height: 100%;
    margin-right: 14px;
    position: absolute;
    top: 0;
    width: 190px;
}
/*.xui-mainPanel .xui-sideBar-votes,
.xui-mainPanel .xui-sideBar-events,
.xui-mainPanel .xui-sideBar-surveies,
.xui-mainPanel .xui-sideBar-feedbacks,
.xui-mainPanel .xui-sideBar-lotteries,
.xui-mainPanel .xui-sideBar-orderRedEnvelope{
	background-image: url('/static_v2/img/editor/icon_sideBar2.png');
	background-repeat: no-repeat;
}*/
.xui-mainPanel .xui-sideBar-census{
	/*background-position: 17px -85px;*/
}
.xui-mainPanel .xui-sideBar-integralRule{
	background-position: 0 -20px;
}
.xui-mainPanel .xui-sideBar-wepage,
.xui-mainPanel .xui-sideBar-sales{
	background-position: 0 -40px;
}
.xui-mainPanel .xui-sideBar-globalNavbar,
.xui-mainPanel .xui-sideBar-selling{
	background-position: 0 -60px;
}
.xui-mainPanel .xui-sideBar-weixin_outline{
	background-position: 0 -80px;
}
.xui-mainPanel .xui-sideBar-realtime_messages{
	background-position: 0 -100px;
}
.xui-mainPanel .xui-sideBar-material{
	background-position: 0 -120px;
}
.xui-mainPanel .xui-sideBar-menu{
	background-position: 0 -140px;
}
.xui-mainPanel .xui-sideBar-addnew{
	background-position: 0 -160px;
}
.xui-mainPanel .xui-sideBar-toSell{
	background-position: 0 -180px;
}
.xui-mainPanel .xui-sideBar-pictureManagement{
	background-position: 0 -200px;
}
.xui-mainPanel .xui-sideBar-groupManagement{
	background-position: -48px 0;
}
.xui-mainPanel .xui-sideBar-attrModelManagement{
	background-position: -48px -20px;
}
.xui-mainPanel .xui-sideBar-reviewManagement{
	background-position: -48px -40px;
}
.xui-mainPanel .xui-sideBar-allOrder{
	background-position: -48px -60px;
}
.xui-mainPanel .xui-sideBar-orderExpiration{
	background-position: -48px -80px;
}
.xui-mainPanel .xui-sideBar-financialCheck{
	background-position: -48px -100px;
}
.xui-mainPanel .xui-sideBar-orderBatchDelivery{
	background-position: -48px -120px;
}
.xui-mainPanel .xui-sideBar-flashSale{
	background-position: -48px -140px;
}
.xui-mainPanel .xui-sideBar-lotteries{
	background-position: -48px -160px;
}
.xui-mainPanel .xui-sideBar-members{
	background-position: -48px -180px;
}
.xui-mainPanel .xui-sideBar-memberTag{
	background-position: -48px -200px;
}
.xui-mainPanel .xui-sideBar-memberGrade{
	background-position: -96px 0;
}
.xui-mainPanel .xui-sideBar-memberQrcode{
	background-position: -96px -20px;
}
.xui-mainPanel .xui-sideBar-manage_summary{
	background-position: -96px -40px;
}
.xui-mainPanel .xui-sideBar-member{
	background-position: -96px -60px;
}
.xui-mainPanel .xui-sideBar-postageManagement{
	background-position: -96px -80px;
}
.xui-mainPanel .xui-sideBar-expressManagement{
	background-position: -96px -100px;
}
.xui-mainPanel .xui-sideBar-payInterfaces{
	background-position: -96px -120px;
}
.xui-mainPanel .xui-sideBar-emailNotify{
	background-position: -96px -140px;
}
.xui-mainPanel .xui-sideBar-accountToHelp{
	background-position: -144px 0;
}
.xui-mainPanel .xui-sideBar-roleManagement{
	background-position: -144px -20px;
}
.xui-mainPanel .xui-sideBar-employeeManagement{
	background-position: -144px -40px;
}
.xui-mainPanel .xui-sideBar > ul{
	margin-top:10px;
}
.xui-mainPanel .xui-sideBar ul li a:hover{

}
.xui-mainPanel .xui-sideBar ul li.active a{
    color:#1262b7;
    background-color:#fefefc;
	background-image: url('/static/img/editor/active_nav.gif');
	background-repeat: no-repeat;
	background-position: right;
}

.xui-mainPanel .xui-sideBar ul li.active_third a{
    color:#1262b7;
}

.xui-sideBar-third{
	font-size: 13px;
}

.xui-mainPanel .xui-sideBar ul li.active a .xui-icon-arrow{
	display: none;
}
.xui-mainPanel .xui-sideBar ul li a{
	color:#666;
	height:40px;
	padding-left:48px;
	width:100%;
}
.xui-icon-arrow{
	width:5px;
	height: 5px;
	border-top:1px solid #1262b7;
	border-right:1px solid #1262b7;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
	position: absolute;
	right:15px;
	top:18px;
}

.xui-icon-arrow-w11{
	width: 11px;
	height: 11px;
	border-top:1px solid #1183ca;
	border-right:1px solid #1183ca;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
	position: absolute;
	right:15px;
	top:14px;
}
/*
*header
*/
.xui-header{
	font-family:'Microsoft YaHei';
	/*position: fixed;*/
	width: 100%;
	min-width: 1200px;
	z-index: 1040;
	background: url(/static/img/editor/headBg.jpg) top right no-repeat,#1262b7;
}
.xui-header .xui-navBar{
	height:36px;
	/*background:#1262b7;*/
}
.xui-header .xui-i{
	width:1200px;
	margin:0 auto;
	text-align:bottom;
}
.xui-header .xui-logo{
	padding:10px 15px;
	height:65px;
	display:inline-block;
	cursor: pointer;
}
/*.xui-header .xui-logo .xui-i-logoHref{
	position: absolute;
	height: 45px;
	width: 170px;
	cursor: pointer;
}*/
.xui-header .xui-headerActionBar{
	top:15px;
    position: absolute;
    right: 0;
    color: #fff;
}
.xui-header .xui-headerActionBar a{
	color: #fff;
	margin-right: 20px;
	position: relative;	
}
.xui-header .xui-toolIcon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -5px;
	background:url('/static/img/editor/icon_sideBar.png') no-repeat;
}
.xui-header a:first-child .xui-toolIcon{
	background-position:-112px -160px;
}
.xui-header a:nth-child(2) .xui-toolIcon{
	background-position:-96px -179px;
}
.xui-header a:nth-child(3) .xui-toolIcon{
	background-position:-112px -179px;
}
.xui-header a:nth-child(4) .xui-toolIcon{
	background-position: -96px -160px; 
}
.xui-header .popover{
	background: #f8f8f8;
}
.xui-header .popover.bottom>.arrow::after{
	border-bottom-color: #f8f8f8;
}
.xui-header .popover-content .control-label{
	color: #666;
}
.xui-header .popover-content .btn-default{
	border-radius:3px;
}
.xui-header .popover-content .controls input{
	border: 1px solid #e5e5e5;
    height: 24px;
    margin-top: 10px;
    width: 151px;
}
.xui-header .popover-content .edit_password {
    color: red;
    display: none;
    margin:8px 0 0 60px;
}
.xui-header .popover-content{
	background: #f8f8f8 none repeat scroll 0 0;
    border: medium none #e5e5e5;
    color: #333;
    min-height: 172px;
    padding: 9px 24px;
    position: relative;
    width: 267px;
    font-family: 'Microsoft YaHei',Helvitica;
}
.xui-header .xui-systemName{
	position: absolute;
	left:80px;
	bottom:7px;
	font-size:22px;
	/*font-family:'Microsoft YaHei';*/
	color:#333;
}
.xui-header .xui-navBar .xui-i{
	width:1200px;
	margin: 0 auto;
}
.xui-header .xui-navBar-title{
	margin-left: 0px;
	margin-top: 5px;
	margin-right:0px;
	float: left;
	color: #E8F3F9;
	font-size: 20px;

	font-weight:normal;
	width:200px;
	text-align:center;
	overflow:hidden;
	height:35px;
}
/*.xui-header .xui-navBar-box,.xui-header .xui-navBar-box ul,.xui-header .xui-navBar-box ul li{
	float: left;
}*/
.xui-navBar .xui-i ul li{
	float: left;
	font-size: 14px;
	color:#fff;
	width:110px;
	list-style: none;
	background: #0B559F;
}
.xui-navBar .xui-i .xui-i-bigDataTab{
	float: right;
}
.xui-header .xui-navBar .xui-i ul li a{
	color: #fff;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    width: 100%;
	border-right: 1px solid #1161B7;
}
.xui-header .xui-navBar .xui-i ul li a:hover{
	background: transparent;
	text-decoration: none;
}
.xui-header .xui-navBar .xui-i ul li a.active{
	background: #03376D;
	text-decoration: none;
    font-weight: bold;
	border-right: 1px solid #03376D;
}
.xui-rightBorder{
	border-right: 1px solid #03376D!important;
}
/*
*footer
*/
.xui-footer{
	width: 920px;
	margin:30px auto 0 auto;
	font-family:'Microsoft YaHei';
	border-top:1px solid #eaeaea;
}
.xui-footer .xui-content{
	display: table;
	margin:0 auto;
	padding:20px 0;
	width:660px;
}
.xui-footer .xui-i:first-child{
	text-align: center;
	widows: 518px;
}
.xui-footer .xui-i:last-child{
	text-align: left;
}
.xui-footer .xui-i{
	display:table-cell;
	vertical-align: middle;
}





/*
* 图片上的删除按钮
*/
button.xui-close{
	width: 16px;
	height: 16px;
	font-size: 20px;
	line-height: 18px;
	position: absolute;
	top:-9px;
	color: #fff;
	right:-8px;
	border-radius: 8px;
	background: #B0B0B0;
	padding: 0;
	cursor: pointer;
	border: 0;
	-webkit-appearance:none;
	display: none;
}


/*保存按钮*/
.xui-saveBtn{
	width: 80px;
	height: 30px;
}

/*VB风格按钮*/
.xui-button{
/*	width: 84px;
	height: 30px;
	line-height: 30px;*/
	background: #D6D6D6;
	color: #333;
	text-align: center;
	box-shadow: 1px 1px 0 #989797;
	border:none;
	border-radius: 2px;
}


/*无数据样式*/
.xui-emptyBox{
	height:200px;
	text-align: center;
    background-color: #fff;
	padding-top: 65px;
}
.xui-emptyBox span{
	color:#aaa;
	font-size: 16px;
	font-weight: bold;
}
.xui-emptyBox .xui-i-emptyHint{
	width:256px;
	margin:0 auto;

}
.xui-emptyBox .xui-i-emptyHint img{
	float: left;
}
.xui-emptyBox .xui-i-emptyHint div{
	float:left;
	margin-top:12px;
	margin-left:15px;
}
.xui-emptyBox .xui-i-emptyHint span{
	display:block;
	width:160px;
	text-align:left;
}
.xui-promotionsPage .xui-emptyBox .xui-i-emptyHint span{
	width: 140px;
}



/* +外有圆圈的按钮样式*/
.xui-addNewGroup{
	background: #0B9C07;
}







/*
*输入表单面板
*/
.xui-formPanel {
    border: 1px solid #d7e0e7;
    background: #eaeef6;
    padding: 10px 0 20px 0;
    width: 100%;
}
.xui-formPanel .btn-primary{
	border-radius:0;
}
.xui-formPanel .xui-i-table {
	display: table;
}
.xui-formPanel .xui-form {
}
.xui-formPanel .xui-i-col {
    /*width:33.3333%;*/
    display: table-cell;
}
.xui-formPanel .xui-i-item {
    margin-bottom: 12px;
}

.xui-formPanel .xui-i-item label {
    width: 108px;
    text-align: right;
    font-weight: normal;
    margin-bottom: 0;
}
.xui-formPanel .form-control {
    display: inline-block;
}
.xui-formPanel .xui-i-item input[type="text"], .xui-formPanel .xui-i-item select {
    width: 150px;
    line-height: 24px;
    border: 1px solid #BFD7EB;
    background: #f2f2f2;
    padding: 0 5px;
}
.xui-formPanel .xui-i-item .form-control[readonly] {
    cursor: pointer;
}
.xui-formPanel .xui-i-item select {
    height: 24px;
}
.xui-formPanel .xui-btn-group {
    padding: 0 160px 0px 600px;
}
.xui-formPanel .xui-datePicker {
	line-height: 24px;
    width: 132px !important;
    background: url(/static/img/editor/calendar.jpg) no-repeat !important;
    background-position: right !important;
    background-color: #f2f2f2 !important;
}
.xui-formPanel .xui-i-help {
	color: #8F8F8F;
}

/*全选框样式*/
.xui-selectAll{
	font-weight: normal;
}
.xui-selectAll input{
	position:relative;
	top:3px;
	margin-right:5px;
}

/*添加按钮样式*/
.xui-weixinMessageBtn{
	background: none repeat scroll 0 0 #1d911a!important;
    height: 29px;
    width: 80px;
}

.xui-weixinMessageBtn:hover{
	background: none repeat scroll 0 0 #1d911a!important;
    height: 29px;
    width: 80px;
}

.xui-addProductBtn{
	background: none repeat scroll 0 0 #1d911a;
    height: 32px;
    margin-bottom: 9px;
    padding-top: 8px;
    width: 118px;
}
.xui-addProductBtn:hover{
	background: none repeat scroll 0 0 #1d911a;
    height: 32px;
    margin-bottom: 9px;
    width: 118px;
}
.errorHint{
	padding-top: 1px;
	color: red;
	font-size: 12px;
}
.modal-title .errorHint{
	padding-top: 0px;
	font-size: 12px;
	font-weight: normal;
}/*
.wui-rightNav{
	position: fixed;
	right:0;
	bottom:350px;
}
.wui-rightNav a{
	display: block;
	width:40px;
	height:40px;
	border-radius:3px;
	background-color: #2c73bf;
	background-image: url('/static_v2/img/sprite_icon.png');
	margin-bottom:2px;
}
.wui-rightNav .xui-noticyNum{
	left: -6px;
	top: -6px;

}*/
.xui-noticyTip{/*导航提示*/
	right:22px;
	top:2px;
	font-style: normal;
	font-size: 12px;
	font-family: Arial;
	display: none;
	background-color: #da0909;
	color: #fff;
	height: 18px;
	min-width: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	line-height: 18px;
	box-sizing: border-box;
	padding: 0 3px;
}
.xui-sideBar-third .xui-noticyTip{/*左侧边栏实时消息提示*/
	right: 56px;
}
.xui-allOrders .xui-noticyTip{/*所有订单待发货提示*/
	right:13px;
}
.xui-header .xui-headerActionBar .xui-noticyTip{
	-moz-transform: scale(.8);
	-webkit-transform: scale(.8);
	transform: scale(.8);
    right: -17px;
    top: -6px;
    line-height: 18px;
}
/*
.wui-rightNav a:nth-child(2){
	background-position: -40px 0;
}
.wui-rightNav a:nth-child(3){
	background-position: -80px 0;
}
.wui-rightNav a:nth-child(4){
	background-position: -120px 0;
}
.wui-rightNav a:last-child{
	position: relative;
	background-position: -160px 0;
}*/

/**
 * 对话框通用样式
 */
.xui-dialog-titleNavBar {
	color: rgb(14, 109, 168);
}
.xui-dialog-titleNav {
	color: rgb(11, 109, 170);
	cursor: pointer;
}
.xui-dialog-activeTitleNav {
	color: rgb(255, 255, 255);
}
/*分页*/
.xb-down .xb-arrow{
	float: left;
    position: relative;
    left: -20px;
    bottom: -12px;
}
.xb-up .xb-arrow{
    float: left;
    position: relative;
    left: 20px;
    bottom: -12px;
    z-index: 1000;
}

.xui-validate-star:before {
	font-size: 1.4em;
	content: "*";
	color: #FF0000;
	padding-top: 5px;
	vertical-align: middle;
}