.model-table-tr td{
    width: 170px;
    padding: 8px 0 8px 0px !important;
}

td div.form-group {
    margin: 0;
    width: 100%;
    margin-left: 0 !important;
}

td div.form-group div{
    width: 80%;
    padding-right: 0px;
}

td div.form-group div input{
	width: 100%;
	padding: 1px !important;
}

td div.form-group label{
    display: none;
}

.pl90{padding-left:90px !important;}

.xui-special-postage div label.control-label,
.xui-free-postage div label.control-label{
	display: none;
}

.xui-special-postage div, .xui-free-postage div{
	margin-left: 170px !important;
	padding-left: 0px !important;
}

.xui-special-postage-add-btn{
    margin-left: 128px !important;
    margin-top: 10px;
}

.xui-submit-btn a{
    width: 100px;
}

.xui-submit-btn label{
    display: none;
}

.xui-submit-btn div{
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.xui-submit-btn div div{
    padding-left: 0px;
}

.xui-destination{
    width: 350px;
}

.xui-select-condition select{
    width: 100px !important;
    margin-right: 15px;
}

/*.table-bordered{
    border: 1px solid #CCC;
}*/

.xui-special-postage-tr{
    border: 1px solid #CCC;
}

/*.table > tbody > tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}*/