{% extends "base.html" %}

{% block content %}
<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#FFF">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" style="font-weight: bold;color:rgba(0, 0, 0, 0.71);" href="/project/">WeTeam</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if first_nav != "project" and first_nav != "user"%}
                <ul class="nav navbar-nav">
                    <li {% if first_nav == "main" %}class="active"{% endif %}><a href="/project/main/?project_id={{project_id}}">看板</a></li>
                    <li {% if first_nav == "require" %}class="active"{% endif %}><a href="/project/require_list/?project_id={{project_id}}">需求</a></li>
                    <li {% if first_nav == "bug" %}class="active"{% endif %}><a href="/project/bug/?project_id={{project_id}}">Bug</a></li>
                    <li><a href="#">统计</a></li>
                    <li {% if first_nav == "member" %}class="active"{% endif %}><a href="/project/members/?project_id={{project_id}}">成员</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    <li {% if first_nav == "project" %}class="active"{% endif %}><a href="/project/">项目</a></li>
                    <li {% if first_nav == "user" %}class="active"{% endif %}><a href="/user/">成员配置</a></li>
                </ul>
                {% endif %}
                <div class="btn-group navbar-form navbar-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> {{ user.first_name }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-target="#editMyMessage" role="button" data-toggle="modal" class="xa-editCurrentUser">编辑</a></li>
                        <li class="divider"></li>
                        <li><a href="/account/logout/">退出</a></li>
                    </ul>
                </div>
                {% if first_nav == "project" %}
                <button data-target="#addProjectModal" role="button" data-toggle="modal" class="navbar-btn btn-default btn navbar-right xa-addProject">
                    <span class="glyphicon glyphicon-plus"></span>
                    添加项目
                </button>
                {% endif %}

                <div class="navbar-right">
                    <div class="navbar-header">
                        <span class="navbar-brand" style="font-weight: bold;">TeamWork</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!--创建项目弹窗-->
<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">   
            <div class="modal-header">    
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>    
                <h3 class="modal-title">创建项目</h3>   
            </div>    
            <div class="modal-body">    
                <form class="form-horizontal">     
                    <div class="form-group">      
                        <label for="project-name-input" class="col-sm-2 control-label xui-validate-star">项目名</label>      
                        <div class="col-sm-10">       
                            <input id="project-name-input" name="name" class="form-control" data-validate="required" type="text">       
                            <div class="errorHint"></div>      
                        </div>     
                    </div>      
                    <div class="form-group">      
                        <label for="project-description-input" class="col-sm-2 control-label xui-validate-star">项目简介</label>      
                        <div class="col-sm-10">       
                            <textarea id="project-description-input" name="description" class="form-control" rows="3" data-validate="required" data-validate-max-length="256"></textarea>       
                            <div class="errorHint"></div>      
                        </div>     
                    </div>      
                </form>
            </div>    
            <div class="modal-footer">    
                <button class="btn btn-success" id="change_password">完成</button>   
            </div>  
        </div>
    </div>
</div>

<!--编辑个人信息-->
<div class="modal fade" id="editMyMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">   
            <div class="modal-header">    
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>    
                <h3 class="modal-title">编辑用户</h3>   
            </div>    
            <div class="modal-body">    
                <form class="form-horizontal">     
                    <div class="form-group">      
                        <label for="project-name-input" class="col-sm-2 control-label xui-validate-star">登录名</label>      
                        <div class="col-sm-10">       
                            <input id="username" name="username" class="form-control" data-validate="required" type="text">       
                            <div class="errorHint"></div>      
                        </div>     
                    </div>
                    <div class="form-group">      
                        <label for="project-name-input" class="col-sm-2 control-label xui-validate-star">用户名</label>      
                        <div class="col-sm-10">       
                            <input id="firstname" name="firstname" class="form-control" data-validate="required" type="text">       
                            <div class="errorHint"></div>      
                        </div>     
                    </div>
                    <div class="form-group">      
                        <label for="project-name-input" class="col-sm-2 control-label xui-validate-star">密码</label>      
                        <div class="col-sm-10">       
                            <input id="password" name="password" class="form-control" type="text" >
                            <div class="errorHint"></div>      
                        </div>     
                    </div>      
                    <div class="form-group">
                        <label for="project-name-input" class="col-sm-2 control-label xui-validate-star">头像</label>      
                        <div class="col-sm-10">    
                            <span class="img-show"></span>
                            <div class="col-sm-4" id="uploadBtn_add">
                                <!-- <input type="file" name="file_upload" id="file_upload"/> -->
                            </div>   
                            <!-- <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1">  -->    
                        </div>    
                        
                    </div>
                </form>
            </div>    
            <div class="modal-footer">    
                <button class="btn btn-success" id="edit_account">完成</button>   
            </div>  
        </div>
    </div>
</div>

<div class="xa-pageContainer pr"></div>
<div id="jsons" style="display: none;">
    {% for inner_json_name, inner_json_content in jsons.items %}
    <div id="__json-{{inner_json_name}}">
        {{inner_json_content|safe}}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
    var user_id = "{{ user_id }}";
	// W.userName = "{{ request.user.first_name }}";
	// W.topNavs = W.loadJSON('topNavs');
	// W.secondNavs = W.loadJSON('secondNavs');
	// W.activeTopNav = "{{ first_nav_name }}";
	// W.activeSecondNav = "{{ second_nav_name }}";
    console.log("{{ user_id }}","====sss======");
    $('#change_password').click(function () {
        var projectName = $('#project-name-input').val();
        var projectDescription = $('#project-description-input').val();
        $.ajax({
            url:'/project/new_project/',
            type:'post',
            data:{
                'project_name': projectName,
                'project_description': projectDescription
            },
            success:function(resp){
                if(resp.code == 200){
                    location.reload();
                }
            },
            error:function(){
                console.log('create_fail');
            }
        });
    });

    // $("#file-1").fileinput({
    //     'allowedFileExtensions' : ['jpg', 'png','gif'],
    // });

    $('.xa-editCurrentUser').click(function(){
        $.ajax({
            url:'/account/get_account/',
            type:'get',
            data:{
                'user_id': user_id
            },
            success:function(resp){
                var first_name = resp.data.first_name;
                var user_name = resp.data.user_name;
                var password = resp.data.password;
                console.log(first_name,user_name,"========");
                $("#username").val(user_name);
                $("#firstname").val(first_name);
                $("#password").val('******');

                // $('#payType').modal('show');
            },
            error:function(){
                console.log('create_fail');
            }
        });
    })

    $("#edit_account").click(function(){
        var firstname = $("#firstname").val();
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url:'/account/edit_account/',
            type:'post',
            data:{
                'user_id': user_id,
                'first_name': firstname,
                'username': username,
                'password': password
            },
            success:function(resp){
                if(resp.code == 200){
                    alert("修改成功");
                    location.reload();
                }
            },
            error:function(){
                console.log('create_fail');
            }
        });
    })

    // $(function(){
    //     initUploadFive('uploadBtn_add','order','','/customer_case/upload_file/',onUploadComplete);
    //     $('input[type="file"]').attr('title','点击添加图片');
    // });

    // var saved_path;
    // function onUploadComplete(file, data) {
    //     data = JSON.parse(data); 
    //     saved_path=data.data.saved_path;
    //     $queue = $('#uploadifive-uploadBtn_add-queue');
    //     if (data.code == 200) {
    //         $('.img-show').html('<img src="'+data.data.saved_path+'" alt="tupian" width=245px; height=160px />');
    //         $('input[type="file"]').attr('title','点击替换图片');
    //         $queue.find('.close').remove().end();
    //     } else {
    //         $queue.html('');
    //         $('#uploadfilepath_'+type).val('');
    //     }
    // }

</script>
{% block js %}{% endblock %}
{% endblock %}