html {
    background-color: #eee;
    /*font-family:"微软雅黑";*/
}

body {
    background-color: #eee;
    font-family:"微软雅黑";
}

.navbar {
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}
.navbar-default {
    background-color: #FEFEFE;
}
.xui-hide {
    display: none;
}
.xui-invisible {
    visibility: hidden;
}
form label {
    margin-bottom: 0px;
}

#edui_fixedlayer {
    z-index: 2000 !important;
}

.pagination-right {
    text-align: right;
}

/**
 * 通用样式
 */
.xui-imgBox {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 320px;
    padding: 10px;
}

/**
 * project页面样式
 */
.xui-project {
    padding: 0px 20px 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.5s;
    cursor: pointer;
}
.xui-project:hover {
    background-color: #FCF8E3;
}
.xui-project-notStared {
    display: block;
    color: #CFCFCF;
}
.xui-project-stared {
    display: block;
    color: #E4B92E;
}
.xui-project-title {
    border-bottom: solid 1px #BFBFBF;
    padding: 5px 0px;
}
.xui-project-title h3 {
    padding-top: 5px;
    padding-bottom: 1px;
    margin: 0px;
    font-size: 2em;
}
.xui-project-title h3 span {
    font-size: 0.5em;
    color: #888;
}
.xui-project-info {
    padding: 5px;
}
.xui-project-bottomBar {
    color: #888;
    text-align: right;
}


/*
 * user列表页面样式
 */
.xui-usersPage .xui-oneUser {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.5s;
}
.xui-usersPage .xui-oneUser img {
    display: block;
    width: 100px;
}
.xui-usersPage .xui-oneUser:hover {
    background-color: #FCF8E3;
}
.xui-usersPage .xui-oneUser .xui-inner-actionBar {
    position: absolute;
    top: 5px;
    right: 5px;
}
.xui-usersPage .xui-oneUser .xui-i-manager {
    text-align: left;
    font-weight: normal;
    color: #8F8F8F;
    margin: 3px auto;
    width: 70px;
}


/*
 * kanban页面样式
 */
.xui-kanban-column .xui-inner-header{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #D9D9D9;
}

.xui-kanbanPanel {
    overflow-x: hidden;
}

.xui-kanbanContainer {
    overflow-x: auto;
    overflow-y: hidden;
}

.xui-kanban {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.xui-kanban-column {
    background-color: #eee;
    border: solid 1px #D1D1D1;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.xui-kanban-state-highlight {
    border: dashed 2px #FFFA40;
    border-radius: 5px;
    width: 250px;
    min-height: 500px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.xui-globalDropdown {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1000;
    display: none;
}

.xui-globalDropdown .dropdown-menu {
    display: block;
}

.xui-configPage-tags .xui-i-tag {
    position: relative;
    float: left;
    padding: 6px 10px;
    background-color: #f0ad4e;
    color: #FFF;
    margin-right: 10px;
    margin-bottom: 10px;
}
.xui-configPage-tags .xui-i-tag:hover .xui-i-close {
    display: block;
}

.xui-configPage-tags .xui-i-close {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    font-size: 14px;
}